<a href="https://colab.research.google.com/github/GabydrielAraule/Tarea_5/blob/main/ArraysADT_EDD1310.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
class Array:
    def __init__( self , tam):
        self.__tamanio=tam
        self.__data = [ 0 for x in range( self.__tamanio) ]
    def to_string( self):
        info = ""
        for dato in self.__data:
            info = info + str(dato) + "|"
        return info
    
    def get_item( self , index ):
        return self.__data[index]

    def get_lenght( self):
        return len(self.__data)


    def set_item( self , dato , index):
        if index >= 0 and index < self.get_lenght():
            self.__data[index] = dato
        else:
            print("Fuera del rango")

    #def clear( self , dato):
    def clear(self , dato):
        self.__data = [ dato for x in range( self.__tamanio) ]



ejemplo = Array(20)
print(ejemplo.to_string())
print( ejemplo.get_item(2))
ejemplo.set_item(45 , 2)
print(ejemplo.to_string())
ejemplo.get_lenght()
print(ejemplo.get_lenght())
ejemplo.clear( 4 )
print( ejemplo.to_string())
print(ejemplo.to_string())

0|0|0|0|0|0|0|0|0|0|0|0|0|0|0|0|0|0|0|0|
0
0|0|45|0|0|0|0|0|0|0|0|0|0|0|0|0|0|0|0|0|
20
4|4|4|4|4|4|4|4|4|4|4|4|4|4|4|4|4|4|4|4|
4|4|4|4|4|4|4|4|4|4|4|4|4|4|4|4|4|4|4|4|

In [ ]:
lista=[3 * x for x in range(10)]
print(lista)

[0, 3, 6, 9, 12, 15, 18, 21, 24, 27]

---------------------------------------------------
TAREA::
La carpeta datos es volatil..

In [ ]:
##!ls -la
!cat junio.dat

numero de trabajador, nombres, paterno, materno, horas extra, sueldo base, año de ingreso
2345,CARLOS,PEREZ,CASTILLO,0,9850,2017
5754,ANGEL,GOMEZ,GARRIDO,1,9850,2020
5345,JESUS,MARTIN,SANTOS,2,9850,2016
3267,DAVID,JIMENEZ,LOZANO,2,9850,2017
8765,PEDRO,RUIZ,GUERRERO,2,9850,2017
5454,DANIEL,HERNANDEZ,CANO,3,9850,2018
3456,ALEJANDRO,DIAZ,PRIETO,2,9850,2018
3445,MARIA,MORENO,MENDEZ,1,9850,2018
9088,ALBERTO,MU�OZ,CRUZ,1,9850,2017
8877,RAFAEL,ALVAREZ,FLORES,2,9850,2017
6767,FERNANDO,ROMERO,HERRERA,4,9850,2019
5654,PABLO,ALONSO,GALLEGO,1,9850,2019
4323,JORGE,GUTIERREZ,MARQUEZ,2,9850,2020
2232,RAMON,NAVARRO,LEON,1,9850,2016

In [ ]:
archivo = open('junio.dat', 'rt' , encoding='latin-1')
print( archivo.read())

numero de trabajador, nombres, paterno, materno, horas extra, sueldo base, aÃ±o de ingreso
2345,CARLOS,PEREZ,CASTILLO,0,9850,2017
5754,ANGEL,GOMEZ,GARRIDO,1,9850,2020
5345,JESUS,MARTIN,SANTOS,2,9850,2016
3267,DAVID,JIMENEZ,LOZANO,2,9850,2017
8765,PEDRO,RUIZ,GUERRERO,2,9850,2017
5454,DANIEL,HERNANDEZ,CANO,3,9850,2018
3456,ALEJANDRO,DIAZ,PRIETO,2,9850,2018
3445,MARIA,MORENO,MENDEZ,1,9850,2018
9088,ALBERTO,MUOZ,CRUZ,1,9850,2017
8877,RAFAEL,ALVAREZ,FLORES,2,9850,2017
6767,FERNANDO,ROMERO,HERRERA,4,9850,2019
5654,PABLO,ALONSO,GALLEGO,1,9850,2019
4323,JORGE,GUTIERREZ,MARQUEZ,2,9850,2020
2232,RAMON,NAVARRO,LEON,1,9850,2016

In [2]:
class Trabajador:
    def __init_( self, nt , nom , pat , mat , he , sb , ai):
        self.__numero_trabajador= nt
        self.__nombre_trabajador=nom
        self.__apellido_paterno = pat
        self.__apellido_materno = mat
        self._horas_extra = he
        self.__salario_base = sb
        self.__anio_ingreso =ai

    ##Aqui van todos los metoos de acceso.
    def set_numero_trabajador( self, nt):
        self.set_numero_trabajador = nt
    def set_nombre_trabajador(self , nom):
        self.set_nombre_trabajador = nom
    def set_apellido_paterno(self , pat):
        self.set_apellido_paterno = pat
    def set_apellido_materno(self , mat):
        self.set_apellido_materno = mat
    def set_horas_extra(self , he):
        self.set_horas_extra = he
    def set_salario_base(self , sb):
        self.set_salario_base = sb
    def set_anio_ingreso(self , ai):
        self.set_anio_ingreso = ai
##---------------------------------------------
    def get_numero_trabajador( self ):
       return self.__numero_trabajador
    def get_nombre_trabajador( self ):
        return self.__nombre_trabajador
    def get_apellido_paterno( self ):
        return self.__apellido_paterno
    def get_numero_trabajador( self ):
        return self.__apellido_paterno
    def get_horas_extra( self ):
        return self.__horas_extra
    def get_salario_base( self ):
        return self.__salario_base
    def get_anio_ingreso( self ):
        return self.__anio_ingreso



    ##Metodos que haCEN CALCULOs en la logica del negocios(Clcular oras extra)

In [6]:
class NominaADT:
    def __init__(self , ruta_archivo ):
        ##Abrir el carchivo y determinar el numero de empleados ___----> num_empleados
        archivo = open('junio.dat','rt' , encoding='latin-1')
        print( archivo.read())
        dato = archivo.readlines()
        dato = dato.strip('\n').split(',')
        self.__data  = Array (num_emp)
    
    def calcular_seeldos(self):
        for x in range 
        #Iterar sobre erl Array y hacer el calculo de sueldos


    def mas_antiguo(self):
        #Iterrar y buscara en el array el de mayor antiguedad


    def menor_antiguedad(self):
        ##Iterar y buscara el arary el de menor antiguedad

IndentationError: ignored

In [ ]:
sueldo_base=100
anio=2019

antiguedad =2
prestacion= 100 *(2 * 0.03)
print(sueldo_base + prestacion)

106.0